---
- name: install required packages
  apt:
    name: "{{ packages }}"
    state: latest
    update_cache: yes
  vars:
    packages:
    - curl
    - tar
    - apt-transport-https
    - awscli
  become: true

- name: download kubectl binary
  become: yes
  get_url:
    url: https://storage.googleapis.com/kubernetes-release/release/v1.24.0/bin/linux/amd64/kubectl
    checksum: sha256:94d686bb6772f6fb59e3a32beff908ab406b79acdfb2427abdc4ac3ce1bb98d7
    dest: /usr/local/bin/kubectl
    mode: +x

- name: download krew binary
  become: yes
  get_url:
    url: https://github.com/kubernetes-sigs/krew/releases/download/v0.4.3/krew-linux_amd64.tar.gz
    checksum: sha256:5df32eaa0e888a2566439c4ccb2ef3a3e6e89522f2f2126030171e2585585e4f
    dest: /tmp

- name: untar krew binary
  unarchive:
    src: /tmp/krew-linux_amd64.tar.gz
    dest: /tmp

- name: install krew binary
  become: yes
  copy:
    src: /tmp/krew-linux_amd64
    dest: /usr/local/bin/krew
    mode: +x

- name: install krew plugin
  shell: krew install krew

- name: add krew path to .bashrc
  lineinfile:
    dest: /home/{{ ansible_env.USER }}/.bashrc
    line: export PATH="${PATH}:${HOME}/.krew/bin"
    create: yes

- name: download argo workflow binary
  become: yes
  get_url:
    url: https://github.com/argoproj/argo/releases/download/v2.9.2/argo-linux-amd64
    checksum: sha256:88a95a00741455e22970517d9b6ca714307189814c74424408b956cdd36d8450
    dest: /usr/local/bin/argo
    mode: +x

- name: download helm binary
  become: yes
  get_url:
    url: https://get.helm.sh/helm-v3.9.0-linux-amd64.tar.gz
    checksum: sha256:1484ffb0c7a608d8069470f48b88d729e88c41a1b6602f145231e8ea7b43b50a
    dest: /tmp

- name: untar helm binary
  unarchive:
    src: /tmp/helm-v3.9.0-linux-amd64.tar.gz
    dest: /tmp

- name: install binady
  become: yes
  copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    mode: +x

- name: Install minio client
  get_url:
    url: https://dl.min.io/client/mc/release/linux-amd64/mc
    dest: /usr/local/bin/mc
    checksum: sha256:971683c7a81c2cdd3d7016f928988f244a314702ed230d3348243afc21e06734
    mode: +x
  become: yes

- name: Source .bashrc
  shell: source /home/{{ ansible_env.USER }}/.bashrc
  args:
    executable: /bin/bash
    
- name: Install minio Operator
  shell: kubectl krew install minio
  args:
    executable: /bin/bash
  environment:
    PATH: "{{ansible_env.PATH}}:${HOME}/.krew/bin"

- name: Install kompose
  get_url:
    url: https://github.com/kubernetes/kompose/releases/download/v1.26.1/kompose-linux-amd64
    dest: /usr/local/bin/kompose
    checksum: sha256:cd85b8c205dc63985e9bde4911b15c8556029e09671599919ed81bff8453a36f
    mode: +x
  become: yes