---
- name : generate locale
  become: yes
  shell : locale-gen en_US en_US.UTF-8
  tags: [setup_ros2]

- name : setup locale
  become: yes
  shell : update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
  tags: [setup_ros2]

- name : export locale
  become: yes
  shell : export LANG=en_US.UTF-8
  tags: [setup_ros2]

- name: install depends via apt
  become: yes
  apt:
    name: "{{ packages }}"
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
    - curl
    - gnupg2
    - lsb-release
    - git
  tags: [setup_ros2]

- name: setup ros2 keys
  become: yes
  get_url:
    url: "https://raw.githubusercontent.com/ros/rosdistro/master/ros.key"
    dest: /usr/share/keyrings/ros-archive-keyring.gpg
  tags: [setup_ros2]

- name: Get DEB architecture
  shell: dpkg --print-architecture
  register: deb_architecture
  tags: [setup_ros2]

- name: ROS2 (add source list)
  apt_repository:
    repo: "deb [arch={{ deb_architecture.stdout }} signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu {{ ansible_lsb.codename }} main"
    state: present
    update_cache: yes
  become: yes
  tags: [setup_ros2]

- name: update apt-get repo and cache
  apt:
    update_cache: yes
  become: yes
  ignore_errors: true
  tags: [setup_ros2]

- name: install ros2 humble/colcon/vcs
  become: yes
  apt:
    name: "{{ packages }}"
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
      - "{{ ros_package_name }}"
      - python3-colcon-common-extensions
      - python3-vcstool
      - python3-colcon-common-extensions 
      - python3-rospkg 
      - python3-catkin-pkg 
      - python3-rosdep
      - python3-argcomplete
      - python3-pip
      - ros-humble-ament-cmake
      - ca-certificates
  tags: [setup_ros2]
