---
- name : generate locale
  become: yes
  shell : locale-gen en_US en_US.UTF-8

- name : setup locale
  become: yes
  shell : update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8

- name : export locale
  become: yes
  shell : export LANG=en_US.UTF-8

- name: install depends via apt
  become: yes
  apt:
    name: "{{ packages }}"
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
    - curl
    - gnupg2
    - lsb-release
    - git

- name: setup ros2 keys
  become: yes
  apt_key:
    url: "https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc"
    state: present

- name: setup ros2 sources
  become: yes
  shell: sh -c 'echo "deb http://packages.ros.org/ros2/ubuntu `lsb_release -cs` main" > /etc/apt/sources.list.d/ros2-latest.list'
  
- name: update apt-get repo and cache
  apt:
    update_cache: yes
  become: yes
  ignore_errors: true

- name: install ros2 eloquent/colcon/vcs
  become: yes
  apt:
    name: "{{ packages }}"
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
      - "{{ ros_package_name }}"
      - python3-colcon-common-extensions
      - python3-vcstool
      - python3-colcon-common-extensions 
      - python3-rospkg 
      - python3-catkin-pkg 
      - python3-rosdep
      - python3-argcomplete
      - ros-eloquent-ament-cmake
      - ca-certificates

- name: make workspace
  file: path={{workspace_path}}
        state=directory

- name: make src dir from workspace_path
  file: path={{workspace_path}}/src
        state=directory

- name: add setup.bash to .bashrc
  lineinfile:
    dest: /home/{{ ansible_user }}/.bashrc
    line: "source /opt/ros/eloquent/setup.bash"

- name: add local_setup.bash to .bashrc
  lineinfile:
    dest: /home/{{ ansible_user }}/.bashrc
    line: "source {{ workspace_path }}/install/local_setup.bash"

- name: load env variable & build
  shell: |-
    cd {{ workspace_path }}
    source /opt/ros/eloquent/setup.bash
    colcon build --symlink-install
  args:
    executable: /bin/bash