*.retry
.vscode
robotx_ws
python_ws
actions_ws
mbed_ws
robotx_tools
log
private.yml
scripts/packages.repos
scripts/packages_exact.repos
scripts/rosdep_base.yaml
scripts/rosdep.yaml
dataset
poetry.lock
__pycache__

# kicad
fp-info-cache
*backups*
*auto_saved_files*
*.lck
kibot_output
*.bak
_autosave*
miniv_motor_controller_board.xml
computer_sensor_board.xml
