---
# Update colcon defaults
- name : copy colcon defaults
  copy:
    src: colcon_defaults/dev_environment/defaults.yaml
    dest: "{{workspace_path}}"
    mode: 0577
# Perception Packages
- name : clone pcl_apps
  git:
    repo: https://github.com/OUXT-Polaris/pcl_apps.git
    dest: "{{workspace_path}}/src/perception/pcl_apps"
    version: prepare/humble
    accept_hostkey: yes
  tags: [perception]
- name : clone scan_segmentation
  git:
    repo: https://github.com/OUXT-Polaris/scan_segmentation.git
    dest: "{{workspace_path}}/src/perception/scan_segmentation"
    version: master
    accept_hostkey: yes
  tags: [perception]
- name : clone preception_bringup
  git:
    repo: https://github.com/OUXT-Polaris/perception_bringup.git
    dest: "{{workspace_path}}/src/perception/perception_bringup"
    version: master
    accept_hostkey: yes
  tags: [perception]
- name : clone image_processing_utils
  git:
    repo: https://github.com/OUXT-Polaris/image_processing_utils.git
    dest: "{{workspace_path}}/src/perception/image_processing_utils"
    version: master
    accept_hostkey: yes
  tags: [perception, perception_camera]
- name: clone robotx_costmap_calculator
  git:
    repo: https://github.com/OUXT-Polaris/robotx_costmap_calculator.git
    dest: "{{workspace_path}}/src/perception/robotx_costmap_calculator"
    version: ros2
    accept_hostkey: yes
  tags: [perception]
- name: clone perception_msgs
  git:
    repo: https://github.com/OUXT-Polaris/perception_msgs.git
    dest: "{{workspace_path}}/src/perception/perception_msgs"
    version: master
    accept_hostkey: yes
  tags: [perception]

# Planning Packages
- name : clone hermite_path_planner
  git:
    repo: https://github.com/OUXT-Polaris/hermite_path_planner.git
    dest: "{{workspace_path}}/src/planning/hermite_path_planner"
    version: master
    accept_hostkey: yes
  tags: [planning]
- name: clone robotx_behavior_tree
  git:
    repo: https://github.com/OUXT-Polaris/robotx_behavior_tree.git
    dest: "{{workspace_path}}/src/planning/robotx_behavior_tree"
    version: master
    accept_hostkey: yes
  tags: [planning]

# Utility Packages
- name: clone data_buffer
  git:
    repo: https://github.com/OUXT-Polaris/data_buffer.git
    dest: "{{workspace_path}}/src/utils/data_buffer"
    version: prepare/humble
    accept_hostkey: yes
  tags: [utility]
- name: clone geometry_msgs_data_buffer
  git:
    repo: https://github.com/OUXT-Polaris/geometry_msgs_data_buffer.git
    dest: "{{workspace_path}}/src/utils/geometry_msgs_data_buffer"
    version: ros2
    accept_hostkey: yes
  tags: [utility]
- name: clone message_synchronizer
  git:
    repo: https://github.com/OUXT-Polaris/message_synchronizer.git
    dest: "{{workspace_path}}/src/utils/message_synchronizer"
    version: master
    accept_hostkey: yes
  tags: [utility]
- name: clone rospy2
  git:
    repo: https://github.com/OUXT-Polaris/rospy2.git
    dest: "{{workspace_path}}/src/utils/rospy2"
    version: main
    accept_hostkey: yes
  tags: [utility]

- name: clone rosboard
  git:
    repo: https://github.com/dheera/rosboard.git
    dest: "{{workspace_path}}/src/utils/rosboard"
    version: main
    accept_hostkey: yes
  tags: [utility]

- name: clone grid_map
  git:
    repo: https://github.com/tier4/grid_map.git
    dest: "{{workspace_path}}/src/utils/grid_map"
    version: prepare/humble
    accept_hostkey: yes
  tags: [utility]
- name: clone groot
  git:
    repo: https://github.com/BehaviorTree/Groot.git
    dest: "{{workspace_path}}/src/utils/groot"
    version: master
    accept_hostkey: yes
  tags: [utility]
- name: clone hungarian_solver
  git:
    repo: https://github.com/OUXT-Polaris/hungarian_solver.git
    dest: "{{workspace_path}}/src/utils/hungarian_solver"
    version: ros2
    accept_hostkey: yes
  tags: [utility]
- name: clone robotx_communication
  git:
    repo: https://github.com/OUXT-Polaris/robotx_communication.git
    dest: "{{workspace_path}}/src/utils/robotx_communication"
    version: master
    accept_hostkey: yes
  tags: [utility]
- name: clone boost_geometry_util
  git:
    repo: https://github.com/OUXT-Polaris/boost_geometry_util.git
    dest: "{{workspace_path}}/src/utils/boost_geometry_util"
    version: master
    accept_hostkey: yes
  tags: [utility]

# Description Packages
- name: clone wamv_description
  git:
    repo: https://github.com/OUXT-Polaris/wamv_description.git
    dest: "{{workspace_path}}/src/description/wamv_description"
    version: master
    accept_hostkey: yes
  tags: [description]
- name: clone miniv_description
  git:
    repo: https://github.com/OUXT-Polaris/miniv_description.git
    dest: "{{workspace_path}}/src/description/miniv_description"
    version: master
    accept_hostkey: yes
  tags: [description]

# Localization Packages
- name: clone geographic_conversion
  git:
    repo: https://github.com/OUXT-Polaris/geographic_conversion.git
    dest: "{{workspace_path}}/src/localization/geographic_conversion"
    version: ros2
    accept_hostkey: yes
  tags: [localization]
- name: clone nmea_to_geopose
  git:
    repo: https://github.com/OUXT-Polaris/nmea_to_geopose.git
    dest: "{{workspace_path}}/src/localization/nmea_to_geopose"
    version: ros2
    accept_hostkey: yes
  tags: [localization]
- name: clone odom_frame_publisher
  git:
    repo: https://github.com/OUXT-Polaris/odom_frame_publisher.git
    dest: "{{workspace_path}}/src/localization/odom_frame_publisher"
    version: ros2
    accept_hostkey: yes
  tags: [localization]
- name: clone geographic_info
  git:
    repo: https://github.com/OUXT-Polaris/geographic_info.git
    dest: "{{workspace_path}}/src/localization/geographic_info"
    version: ros2
    accept_hostkey: yes
  tags: [localization]
- name: clone robotx_ekf
  git:
    repo: https://github.com/OUXT-Polaris/robotx_ekf.git
    dest: "{{workspace_path}}/src/localization/robotx_ekf"
    version: master
    accept_hostkey: yes
  tags: [localization]

# Driver Packages
- name: clone nmea_gps_driver
  git:
    repo: https://github.com/OUXT-Polaris/nmea_gps_driver.git
    dest: "{{workspace_path}}/src/drivers/nmea_gps_driver"
    version: master
    accept_hostkey: yes
  tags: [driver]
- name: clone miniv_control
  git:
    repo: https://github.com/OUXT-Polaris/miniv_control.git
    dest: "{{workspace_path}}/src/drivers/miniv_control"
    version: prepare/humble
    accept_hostkey: yes
  tags: [driver]
- name: clone wamv_control
  git:
    repo: https://github.com/OUXT-Polaris/wamv_control.git
    dest: "{{workspace_path}}/src/drivers/wamv_control"
    version: prepare/humble
    accept_hostkey: yes
- name: clone tcp_sender
  git:
    repo: https://github.com/OUXT-Polaris/tcp_sender.git
    dest: "{{workspace_path}}/src/drivers/tcp_sender"
    version: master
    accept_hostkey: yes
  tags: [driver]
- name: clone dynamixel_hardware_interface
  git:
    repo: https://github.com/OUXT-Polaris/dynamixel_hardware_interface.git
    dest: "{{workspace_path}}/src/drivers/dynamixel_hardware_interface"
    version: prepare/humble
    accept_hostkey: yes
  tags: [driver]
- name: clone playstation_controller_drivers
  git:
    repo: https://github.com/OUXT-Polaris/playstation_controller_drivers
    dest: "{{workspace_path}}/src/drivers/playstation_controller_drivers"
    version: prepare/humble
    accept_hostkey: yes
  tags: [driver]
# - name: clone realsense_hardware_interface
#   git:
#     repo: https://github.com/OUXT-Polaris/realsense_hardware_interface.git
#     dest: "{{workspace_path}}/src/drivers/realsense_hardware_interface"
#     version: prepare/humble
#     accept_hostkey: yes
#   tags: [driver]
- name: clone nmea_hardware_interface
  git:
    repo: https://github.com/OUXT-Polaris/nmea_hardware_interface.git
    dest: "{{workspace_path}}/src/drivers/nmea_hardware_interface"
    version: prepare/humble
    accept_hostkey: yes
  tags: [driver]
- name: clone perception_camera_driver
  git:
    repo: https://github.com/OUXT-Polaris/perception_camera_driver.git
    dest: "{{workspace_path}}/src/drivers/perception_camera_driver"
    version: prepare/humble
    accept_hostkey: yes
  tags: [driver]

# Control Package
- name: clone usv_controller package
  git:
    repo: https://github.com/OUXT-Polaris/usv_controller.git
    dest: "{{workspace_path}}/src/control/usv_controller"
    version: prepare/humble
    accept_hostkey: yes
  tags: [control]
- name : clone joy_to_twist
  git:
    repo: https://github.com/OUXT-Polaris/joy_to_twist.git
    dest: "{{workspace_path}}/src/control/joy_to_twist"
    version: master
    accept_hostkey: yes
  tags: [control]

# Simulation Package
- name : clone navi_sim
  git:
    repo: https://github.com/OUXT-Polaris/navi_sim.git
    dest: "{{workspace_path}}/src/simulation/navi_sim"
    version: prepare/humble
    accept_hostkey: yes
  tags: [simulation]
- name: clone unisim_ros2_control
  git:
    repo: https://github.com/OUXT-Polaris/unisim_ros2_control.git
    dest: "{{workspace_path}}/src/simulation/unisim_ros2_control"
    version: master
    accept_hostkey: yes
  tags: [simulation]

- name: clone lua_vendor
  git:
    repo: https://github.com/OUXT-Polaris/lua_vendor.git
    dest: "{{workspace_path}}/src/apt-missing/lua_vendor"
    version: main
    accept_hostkey: yes
  tags: [wait for apt support]
# - name: librealsense_vendor
#   git:
#     repo: https://github.com/OUXT-Polaris/librealsense_vendor.git
#     dest: "{{workspace_path}}/src/apt-missing/librealsense_vendor"
#     version: master
#     accept_hostkey: yes
#   tags: [wait for apt support]

- name: ros2_control
  git:
    repo: https://github.com/ros-controls/ros2_control.git
    dest: "{{workspace_path}}/src/apt-missing/ros2_control"
    version: 2.13.0
    accept_hostkey: yes
  tags: [wait for apt support]
