---
- name: install required packages
  apt:
    name: "{{ packages }}"
    state: latest
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
    - wget
  become: true

- name: make dataset directory
  file: 
    path: "{{dataset_path}}"
    state: directory
    recurse: yes

- name: check dataset exists
  stat:
    path: "{{dataset_path}}/dataset.zip"
  register: dataset_exists

- name: download datasets
  shell: wget https://www.dropbox.com/s/7h2fthyznfpjtcj/dataset.zip --no-clobber -O "{{dataset_path}}"/dataset.zip
  when: not dataset_exists.stat.exists

- name: unzip adachin.zip
  unarchive:
    src: "{{dataset_path}}/dataset.zip"
    dest: "{{dataset_path}}/dataset"
    remote_src: yes