---
- name: install ros2 vcs
  become: yes
  apt:
    name: "{{ packages }}"
    cache_valid_time: 3600
    update_cache: yes
  vars:
    packages:
      - python3-vcstool
      - git

- name: export repos file
  shell: vcs export {{workspace_path}}/src > packages.repos --exact