version: '2.3'
services:
  torch2trt:
    volumes:
      # mount model
      - ./model:/YOLOX/model
      - ./modelYOLOX_outputs:/YOLOX/YOLOX_outputs
    build: .
    container_name: torch2trt_container
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    privileged: true
    # network_mode: host
    #command: /bin/bash -c "while :; do sleep 10; done"
    command: python3 tools/trt.py -n yolox-nano -c model/yolox_nano.pth