- name: install pip3
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
    - python3-pip
  become: yes
- name: install markdown via pip
  pip:
    name: markdown
    version: 3.2.1
- name: install other depends via pip
  pip:
    name:
      - mkdocs
      - mkdocs-material
      - pymdown-extensions
      - mdx_unimoji
      - fontawesome_markdown
      - python-markdown-math
      - plantuml-markdown