- name: install pip3
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
    - python3-pip
  become: yes
- name: install markdown via pip
  pip:
    name: markdown
    version: 3.2.1
- name: install mkdocs via pip
  pip:
    name:
      - mkdocs
  become: yes
- name: install other depends via pip
  pip:
    name:
      - argparse
      - datetime
      - fontawesome_markdown
      - GitPython
      - mdx_unimoji
      - mkdocs
      - mkdocs-material
      - pandas
      - plantuml-markdown
      - pymdown-extensions
      - python-markdown-math
      - pytz
      - PyYAML
      - tabulate
      - termcolor
      - tzlocal
- name: install PyGithub
  shell: pip3 install git+https://github.com/PyGithub/PyGithub.git
- name: generate report
  shell: python3 report.py {{ github_token }} packages.yaml true
  args:
    chdir: ../repository_manager
- name: move report to docs directory
  shell: mv ../../repository_manager/docs/report.md .
  args:
    chdir: ../docs/docs
- name: build documentation
  shell: mkdocs build
  args:
    chdir: ../docs