name: ansible

on:
  schedule:
  - cron: 0 0 * * *
  pull_request:
    paths:
      - "ansible/**"
  workflow_dispatch:

jobs:
  run_ansible:
    name: run_ansible
    runs-on: ubuntu-20.04
    steps:
    - name: basic install
      run: |
          sudo apt install make ansible
    - name: ansible version
      run: |
            ansible-playbook --version
    - uses: actions/checkout@v2-beta
    - name: ansible
      run: |
          ansible-playbook -i ansible/hosts/localhost.ini ansible/setup_dev_environment.yml --connection local --become -e ansible_user=ubuntu
    - name: export repos file
      run: vcs export --exact robotx_ws/src > robotx.repos
    - uses: actions/upload-artifact@v2
      with:
        name: robotx.repos
        path: robotx.repos
  run_ansible_with_docker:
    name: run_ansible_with_docker
    runs-on: ubuntu-20.04
    steps:
      - name: basic install
        run: |
            sudo apt install make ansible
      - name: ansible version
        run: |
              ansible-playbook --version
      - uses: actions/checkout@v2-beta
      - name: run ansible and install docker
        run: |
            ansible-playbook -i ansible/hosts/localhost.ini ansible/install_docker.yml --connection local --become -e ansible_user=ubuntu
      - name: build docker container
        run: |
            cd docker/build_test
            sh run.sh
            cd ../../
            ansible-playbook -i ansible/hosts/docker.ini ansible/setup_dev_container.yml