name: check_workflow_deployment

on:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  check_ros2_foxx_workflow_deployment:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2-beta
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: install depends
      run: pip3 install pyyaml
    - name: download repos file
      run: gh run download -n packages
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_REPO: OUXT-Polaris/robotx_setup
    - name: check package deployment
      run: |
        python3 scripts/check_workflow_deployment.py packages.repos ROS2-Foxy
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_REPO: OUXT-Polaris/robotx_setup