name: document

on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:

jobs:
  job1:
    name: build document
    runs-on: ubuntu-20.04
    steps:
      - name: basic install
        run: |
            sudo apt install make ansible
      - name: ansible version
        run: |
              ansible-playbook --version
      - name: save ansible vault path
        run: echo ${{ secrets.ANSIBLE_VAULT_PASS }} > ~/password.txt
      - uses: actions/checkout@v2-beta
      - name: ansible
        run: |
            ansible-playbook -i ansible/hosts/localhost.ini ansible/build_document.yml --connection local --become
      - name: Sace Document as Artifact
        if: ${{ github.event_name == 'pull_request'}}
        uses: actions/download-artifact@v2
        with:
          name: site
          path: docs/site
      - name: Deploy Document
        if: ${{ github.event_name != 'pull_request'}}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/site