name: robotx_setup

on:
  schedule:
  - cron: 0 0 * * *
  pull_request:
  workflow_dispatch:

jobs:
    job1:
        name: setup
        runs-on: ubuntu-20.04
        steps:
            - name: basic install
              run: |
                  sudo apt install make ansible
            - name: ansible version
              run: |
                   ansible-playbook --version
            - uses: actions/checkout@v2-beta
            - name: ansible
              run: |
                  ansible-playbook -i ansible/hosts/localhost.ini ansible/setup_full.yml --connection local --become -e ansible_user=ubuntu
            - name: Slack Notification
              uses: 8398a7/action-slack@v2
              with:
                status: ${{ job.status }}
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
