name: scenario_test

on:
  schedule:
  - cron: 0 0 * * *
  pull_request:
  workflow_dispatch:
  push:
    branches: [ master ]

jobs:
  export_repos:
    name: export_repos
    runs-on: ubuntu-20.04
    steps:
      - name: basic install
        run: |
            sudo apt install make ansible
      - name: ansible version
        run: |
              ansible-playbook --version
      - uses: actions/checkout@v2-beta
      - name: ansible
        run: |
            ansible-playbook -i ansible/hosts/localhost.ini ansible/export_repos.yml --connection local --become -e ansible_user=ubuntu
      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: ansible/packages.repos
  run_scenario_test:
    if: ${{ github.event_name == 'pull_request'}}
    runs-on: ubuntu-latest
    needs: export_repos
    outputs:
      git_branch: ${{github.head_ref}}
      image_tag: ${{ steps.findandreplace.outputs.value }}
    steps:
    - uses: actions/checkout@v2-beta
    - name: Run ros integration test action
      uses: OUXT-Polaris/ros-integration-test-action@0.0.6
      with:
        base_image: hakuturu583/robotx_scenario_test
        tag: master
        rosdistro: foxy
        test_command: ls /colcon_ws/src
        check_result_command: ls /colcon_ws/src
        artifact_name: packages
        repos_filename: packages.repos
      env:
        ACTIONS_RUNTIME_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        ACTIONS_RUNTIME_URL: ${{ env.ACTIONS_RUNTIME_URL }}
        GITHUB_RUN_ID: ${env.GITHUB_RUN_ID}
        GITHUB_CLONE_TOKEN: ${{ secrets.WAMV_TAN_BOT_SECRET }} # access token for cloning your package in private repository.
        GITHUB_CLONE_USERNAME: wam-v-tan # username of access token
  build_base_docker_image:
    if: ${{ github.event_name != 'pull_request'}}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2-beta
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        username: hakuturu583
        password: ${{ secrets.DOCKERHUB_SECRET }}
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      env:
        DOCKER_BUILDKIT: 1
      with:
        tags: hakuturu583/robotx_scenario_test:master
        context: docker/scenario_test
        build_args: BUILDKIT_INLINE_CACHE=1
        push: true
        file: docker/scenario_test/Dockerfile